@import '../App.scss';

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    padding-top: 10vh;
    background: $green2;
    font-family: 'Montserrat Alternates', sans-serif;    height: 100vh;
    padding-bottom: 4%;
    .bio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60%;
    }
    p{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        
    }
    h3{
        font-size: 30px;
        margin: 0 auto;
    }
    h1{
        margin: 0 auto;
    }
    img{
        width: 8rem;
    }
    .devpic{
        width: 3rem;
        height: 3rem;
        margin-left: 2.4rem;
        margin-right: 2.4rem;
    }
}
.bio{
    display: flex;
    flex-direction: column;

}
.education1{
    display: flex;
    text-align: left;
   
}
@media screen and (max-width: 500px){
    .bio{
        h1{
            font-size: 40px;
        }
    }
    .education{
        text-align: center;
    }
    
}