@import '../App.scss';

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 90vh;
    h1{
        margin: 0 auto;
    }
}
.picture{
    background: pink;
    background-size: cover;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    animation: picture-changer;
    
    .picture1{
        width: 20rem;
        height: 20rem;
        animation: picture-changer 4s linear 0 infinite;
        z-index: 1;
        opacity: 0;
    }
    .picture2{
        z-index: 2;
    }
}

@keyframes picture-changer1{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}