@import '../App.scss';

.stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    background: $green2;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 90vh;

    h1{
        margin: 0 auto;
    }
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        width: 8rem;
        height: 8rem;
    }
}
.cssoutside{
    background: url('../assets/css3.png');
    background-size: cover;
    width: 8rem;
    height: 8rem;
    padding: 0;
    margin: 0 auto;
    .inside{
        opacity: 0;
        filter: grayscale(1);
        background: grey;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        p{
            margin: 0;
            font-weight: bolder;
            font-size: 20px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            
        }
    }

}
.inside:hover{
    opacity: .8;
    p{
        opacity: 1;
    }
    
}